body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: conic-gradient(from 0deg, #00c6ff, #0072ff);

}

.container {
    background: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    padding: 10px;
    font-size: 20px;
    width: 150px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

.mainbtn {
    padding: 15px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

.mainbtn:hover {
    background-color: #0056b3;
}

.clearbtn {
    padding: 15px;
    font-size: 16px;
    color: #fff;
    background-color: #ff0000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

.clearbtn:hover {
    background-color: #b30000;
}

p {
    margin-top: 20px;
    font-size: 18px;
}

#result {
    margin-top: 30px;
    height: 80px;
    font-size: 20px;
}